body.nb-active{
margin-right: 505px;
}

.nb_sidebar{
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 1000;
    bottom: 0px;
    background-color: #ffffff;
    width: 500px;
    border: 0;
    height: 100%;
}

.viewLink {
    position: absolute;
    top: 14px;
    font-family: sans-serif;
}

a.viewLink,
a.viewLink:visited,
a.viewLink:active {
    color: #444;
}

/* HTML5 comments */
.nb-comment-highlight {
    background-color: rgba(255, 204, 1, .2);
    padding: 2px 0 2px 0;
}

.nb-comment-highlight.hovered {
    background-color: rgba(1, 99, 255, 0.2);
}

.nb-comment-highlight.selected {
    background-color: rgba(1, 99, 255, 0.3);
}

#addnote-widget {
    position: absolute;
    top: 300px;
    left: 200px;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
}

#addnote-widget>button {
    margin: 0;
    display:  block;
    height: 24px;
    width: 24px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

/** make printing work properly */
@media print { 
    .nb_sidebar {
        display: none;
    }
    
    .nb-comment-highlight {
        background-color: transparent;
    }
    
    body,
    body.nb-active {
        margin: auto;
    }
}
